---
# SPDX-License-Identifier: EUPL-1.2
# SPDX-FileCopyrightText: 2023-present Jürgen Mülbert <juergen.muelbert@outlook.de>
#
# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.github/styles/**
benchmark/
build/
cspell.config.yaml
dist/
LICENSE
LICENSES/**
pnpm-lock.yaml
src/checkconnect/gui/locales
**/.*egg-info
**/*.lock
**/*.pyc
**/src/**/gui/**
